{% extends 'ip_proxy/base.html' %}
{#{% load staticfiles %}#}
{#<link rel="shortcut icon"  href="{% static "favicon.ico" %}" />#}
{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>IP</th>
            <th>PORT</th>
            <th>类型</th>
            <th>匿名度</th>
            <th>位置</th>
            <th>最后验证时间</th>
            <th>优先级</th>
        </tr>
        </thead>
        <tbody>
        {% for proxy in proxies %}
            <tr>
                <td>{{ proxy.ip }}</td>
                <td>{{ proxy.port }}</td>
                <td>{{ proxy.net_type }}</td>
                <td>{{ proxy.anonymity }}</td>
                <td>{{ proxy.ip_location }}</td>
                <td>{{ proxy.verify_time | date:'Y-m-d H:i:s' }}</td>
                <td>{{ proxy.priority }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include "pagination.html" with page=proxies %}
    <p>每页 20 个代理<br>共 {{ paginator.count }} 个代理<br>共 {{ paginator.num_pages }} 页</p>
    <p class="text-danger">代理IP采集于网络，仅供学习交流<br>请勿用于非法途径，违者后果自负</p>
{% endblock %}